# Example secrets file - DO NOT commit actual secrets to git
# Create actual secrets using kubectl commands below:
#
# kubectl create secret generic db-credentials \
#   --from-literal=url='mysql2://admin:<DB_PASSWORD>@<RDS_ENDPOINT>:3306/link_persona_production'
#
# kubectl create secret generic cognito-credentials \
#   --from-literal=user_pool_id='<COGNITO_USER_POOL_ID>' \
#   --from-literal=client_id='<COGNITO_CLIENT_ID>'
#
# kubectl create secret generic grafana-credentials \
#   --from-literal=password='<GRAFANA_PASSWORD>'
#
# Values can be obtained via:
#   terraform output cognito_user_pool_id
#   terraform output -raw cognito_client_id
#   terraform output -raw rds_endpoint

apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
stringData:
  url: "mysql2://admin:<DB_PASSWORD>@<RDS_ENDPOINT>:3306/link_persona_production"

---
apiVersion: v1
kind: Secret
metadata:
  name: cognito-credentials
type: Opaque
stringData:
  user_pool_id: "<COGNITO_USER_POOL_ID>"
  client_id: "<COGNITO_CLIENT_ID>"

---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
type: Opaque
stringData:
  password: "<GRAFANA_PASSWORD>"
